header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
    overflow: hidden;
  background-color: #333;
}
header li{
  border:1px solid rgb(0, 38, 255);
  display:inline-block;
  float: left;
  mardin:0.5rem;
}
header a {
  text-decoration: none;
  background-color:#333;
  color: #ffffff;
  padding:0.7rem;
  display:block;
  font-size:25px;
}
header li a {
display: block;
color: white;
text-align: center;
padding: 24px 26px;
text-decoration: none;
}
header a:hover {
  background-color: #6699ff;
  color: #000000;
}
.hoverable{
  display:inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position:relative;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  tranform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
}
.hoverable:before{
  position:absolute;
  pointer-events: none;
  z-index:-1;
  content: '';
  top: 100%;
  left: 5%;
  height:10px;
  width:90%;
  opacity:0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus{
  transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
  opacity: 1;
  transform: translateY(-5px);
}
body{
background: url("https://pic3.zhimg.com/v2-8d10e3e4d8f49476b24ae7e74b44e6b9_r.jpg?source=1940ef5c") no-repeat center center fixed;
-webkit-background-size: cover;
-o-background-size: cover;                
background-size: cover;
}
.writer-img {
-webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
-moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
float: center;
width: 100px;
height: 100px;
}
.content {
padding: 40px;
}
h2{
color: #000000;
font-weight: 100;
font-size: 35px;
line-height: 50px;
padding-bottom: 30px;
text-align: left;
width: 70%;
Font-weight:bold; 
}
h3 {
border-bottom: 1px solid rgba(255, 255, 255, 0.5);
color: #000000;
font-weight: 100;
font-size: 30px;
line-height: 50px;
padding-bottom: 30px;
text-align: left;
width: 70%;
Font-weight:bold; 
}
p{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-size:28px;
  font-family: Helvetica;
}
.caption {
display: block;
font-family: 'Playfair Display', serif;
font-size: 34px;
font-style: italic;
line-height: 34px;
margin-left: 20px;
padding: 10px;
position: relative;
text-align: center;
top: 50%;
width: 90%;
color: #000000;
}
.image {
background-image: url("https://tse1-mm.cn.bing.net/th/id/OIP-C.Lx5ngcKxN_LiK7na2zdfbAHaFQ?pid=ImgDet&rs=1");
background-size: cover;
background-position: left;
height: 800px;
}
th,td{
    border: 1px solid rgb(0, 0, 102);
    padding:8px;
}
table{
    border-collapse: collapse;
    border:5px solid rgb(23,6,122);
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
}
thead th{
    width:25%;
}
.contact-parent{
    background: #fff;
    display:flex;
    margin:80px 0;
}
.contact-child{
    display:flex;
    flex:1;
    box-shadow:0px 0px 10px -2px rgba(0,0,0,0.75);
}
.child1{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    color:#fff;
    padding:100px 0;
}
.child1 p{
    padding-left:20%;
    font-size:20px;
    text-shadow:0px 0px 2px #000;
}
.child1 p span{
    font-size:16px;
    color:#9df2fd;
}
.child2{
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}
.inside-contact{
    width:90%;
    margin:0 auto;
}
.inside-contact h2{
    text-transform:uppercase;
    text-align:center;
    margin-top:50px;
}
.inside-contact h3{
    text-align:center;
    font-size:16px;
    color:#0085e2;
}
.inside-contact input, .inside-contact textarea{
    width:100%;
    background-color:#eee;
    border:1px solid rgba(0,0,0,0.48);
    padding:5px 10px;
    margin-bottom:20px;
}
.inside-contact input[type=submit]{
    background-color:#000;
    color:#fff;
    transition:0.2s;
    border:2px solid #000;
    margin:30px 0;
}
.inside-contact input[type=submit]:hover{
    background-color:#fff;
    color:#000;
    transition:0.2s;
}
@media screen and (max-width:991px){
    .contact-parent{
        display:block;
        width:100%;
    }
    .child1{
        display:none;
    }
    .child2{
        background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
        background-size:cover;
    }
    .inside-contact input, .inside-contact textarea{
        background-color:#fff;
    }
}
.footer {
   position:0;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #fcc;
   color: #000000;
   text-align: center;
}